
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Studio!</div>
                <div class="masthead-heading text-uppercase">Oshi to kekkonn shimasennka</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="/weddings/new">結婚しませんか? </a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>                 <h3 class="section-subheading text-muted">推しと結婚しませんか・・・？</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">いつでも</h4>
                        <p class="text-muted">「国内初電子」で婚姻届を提出することができるようになりました。</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-church fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">どこでも</h4>
                        <p class="text-muted">家でも、職場でも、屋外でも、水中でも、空中でも、ボタンを押すだけで婚姻届が提出できます。</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-people-arrows fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">だれとでも</h4>
                        <p class="text-muted">今までは結婚できなかったあの人とも結婚ができます。</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <!-- About-->
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">我が社の優秀な社員</h3>
                </div>
                <div c  ss="row">
                    <div class="team-member">
                        <%= image_tag "kuuuuu.jpg", class: "mx-auto rounded-circle" %>
                        <h4>Kuuuuu</h4>
                        <p class="text-muted">Wedding planner</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/kuu_wannya" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profile.php?id=100008432836133" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Kuuuuu</div>
                    <div class="col-lg-4 text-lg-center"></div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="/privacy">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="/terms">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
