
<div id="image">
  <%= form_for do |f| %>
    <div class="send_date">
      <%= f.date_field %>
    </div>
    <div class="acceptance_date">
      <%= f.date_field %>
    </div>
  <% end %>
  <%= image_tag 'marrige.jpg' %>
</div>
