
.image{
  position: relative;
}

.man{
  position: absolute;
  top: 400px;
  left: 290px;
}

.women{
  position: absolute;
  top: 400px;
  left: 570px;
}


.witness_man{
  position: absolute;
  top: 715px;
  left: 295px;
}

.witness_women{
  position: absolute;
  top: 715px;
  left: 570px;
}

.text-uppercase_new{
  position: absolute;
  left: 400px;
  top: 1000px;
}
